body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}

table {
    width: 50%;
    border-collapse: collapse;
}
td {
    width: 25%;
    position: relative;
    border: 2px solid black;
}
td:after {
    content: '';  
    display: block;
    margin-top: 100%;
}

td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
