body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}

button {
	background-color: #e7e7e7;
	color: black;
}

button:disabled {
    background-color: #F5F5F5;
    color : #C3C3C3;
}

th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}